.container {
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 30px;
  max-width: 700px;
  padding: 55px 28px;
  color: white;
  background-color: rgba(15, 39, 80, 0.486);
  font-size: 18px;
  border-radius: 10px;
}
