.contact {
  margin: 0 auto;
  display: block;
  margin-bottom: -15px;
  text-align: center;
  margin-top: -20px;
  font-size: 11px;
}
.contact-link {
  color: white;
}

.icon-link {
  color: white;
}
