.units {
  font-size: 17px;
  margin: -5px;
  position: relative;
}

.current-city {
  margin-bottom: -1px;
  text-align: left;
}

.current-temp {
  font-size: 60px;
  display: inline;
  padding: 5px;
  margin-left: 0;
}

.current-description {
  margin-left: 15px;
  float: right;
  text-align: right;
  padding: 5px;
  text-align: center;
}

.fahrenheit-current {
  cursor: pointer;
}

.celsius-current {
  cursor: pointer;
}
.extra-measurements {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  margin-top: -5px;
  font-size: 16px;
}
