.currentMeasurements {
  display: block;
  text-align: center;
  margin-left: -28px;
  margin-top: 25px;
}

.current-city {
  margin-bottom: -1px;
}

.current-description {
  padding: 3px;
  font-size: 23px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: -30px;
}
.writtenDescription {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: -30px;
  display: block;
  text-align: center;
}

.extra-measurements {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  margin-top: -5px;
  font-size: 18px;
}

.highLowCurrent {
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: -30px;
}
.fa-temperature-arrow-down,
.fa-temperature-arrow-up {
  font-size: 18px;
}
