.units {
  font-size: 17px;
  margin: -17px;
}

.current-city {
  display: block;
  margin-top: 15px;
  margin-bottom: -1px;
  text-align: center;
}

.current-temp {
  font-size: 50px;
  display: inline;
  padding: 18px;
}
.fahrenheit-current {
  cursor: pointer;
}

.celsius-current {
  cursor: pointer;
}
