.current-temp {
  font-size: 80px;
  display: inline;
  padding: 5px;
  margin: 0 auto;
}

.units {
  font-size: 18px;
  margin: -40px;
  position: relative;
  text-decoration: none;
}

.units a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
